@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Ruslan+Display&display=swap');


@import './Navbar.css';
@import './Portfolio.css';


#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }