@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Ruslan+Display&display=swap');


@import './Navbar.css';
@import './Portfolio.css';


#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body, 
a, 
button, 
input, 
select,
.portfolio-image {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='48' height='48'><text y='40' font-size='40'>👻</text></svg>") 0 0, auto !important;
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }